body{
    font-family:"Segoe","Segoe UI","Segoe UI semibold","Helvetica Neue","Helvetica";
}
#container{	position:absolute;
			top:10%;
			left:11%;
			height:80%;
			width:70%;
			background:url('images/sds.png') no-repeat;
			}
#container div{position:absolute;
				height:130px;
				width:260px;
				margin:1px;
				opacity:0.7;
			}
				
#tile1{	top:0px;
		left:0px;
		background:url('images/1.png');
		}
#tile2{	top:0px;
		left:268px;
		background:url('images/6.png');
		}

#tile3{	top:0px;
		left:534px;
		background:url('images/7.png');
		}
#tile4{	top:0px;
		left:800px;
		background:url('images/4.png');
		}

#tile5{	top:138px;
		background:url('images/5.png');
		}
#tile6{	top:138px;
		left:268px;
		background:url('images/8.png');
		}

#tile7{	top:138px;
		left:534px;
		background:url('images/9.png');
		}
#tile8{	top:138px;
		left:800px;
		background:url('images/2.png');
		}

#tile9{	top:276px;
		left:0px;
		background:url('images/11.png');
		}
#tile10{top:276px;
		left:268px;
		background:url('images/10.png');
		}
#tile11{top:276px;
		left:534px;
		background:url('images/3.png');
		}
#tile12{top:276px;
		left:800px;
		background:url('images/12.png');
		}
footer{
	position:relative;

	padding-top:15px;
	padding-bottom:10px;
	height:40px;
}	
#footer .title{
	font-size:40px;
	position:absolute;
	left:40px;
	bottom:10px;
}
#footer .nav{
	position:absolute;
	left:42%;
	bottom:100px;
	color:#434343;
}
.nav a{
	color:#434343;
	text-decoration:none;
}
#footer .nav ul{
	list-style:none;
	bottom:0px;
	border-top: 1px solid #d2d2d2;
}
#footer .nav li{
	display:inline;
	margin-left:5px;
	border-bottom:2px #D0D3E2 solid;
	border-right:1px solid #D0D3E2;
	border-left:1px solid #D0D3E2;
	border-top:1px solid #D0D3E2;
	padding:2px 8px;
	padding-bottom:2px;
	border-radius:4px;
	moz-border-radius:4px;
}
#footer .nav li:hover{
	border:1px solid #d2d2d2;
	cursor:pointer;
	background:rgba(56,154,177,0.3);
