body{
    font-family:"Segoe","Segoe UI","Segoe UI semibold","Helvetica Neue","Helvetica";
}

#container{	position:absolute;
			top:10%;
			left:11%;
			height:80%;
			width:70%;
			}
#container div{position:absolute;
				height:130px;
				width:260px;
				margin:1px;
				opacity:0.7;
				border-radius:2px;
				moz-border-radius:2px
			}
				
#tile1{	top:0px;
		left:0px;
		background:url('images/new/27.png') right;
		}
#tile2{	top:0px;
		left:268px;
		background:url('images/6.png');
		}

#tile3{	top:0px;
		left:534px;
		background:url('images/new/23.png') right;
		}
#tile4{	top:0px;
		left:800px;
		background:url('images/new/4.png') right;
		}

#tile5{	top:138px;
		background:url('images/5.png');
		}
#tile6{	top:138px;
		left:268px;
		background:url('images/new/11.png');
		}

#tile7{	top:138px;
		left:534px;
		background:url('images/new/30.png');
		}
#tile8{	top:138px;
		left:800px;
		background:url('images/new/27.png');
		}

#tile9{	top:276px;
		left:0px;
		background:url('images/new/11.png');
		}
#tile10{top:276px;
		left:268px;
		background:url('images/10.png');
		}
#tile11{top:276px;
		left:534px;
		background:url('images/new/3.png');
		}
#tile12{top:276px;
		left:800px;
		background:url('images/new/4.png');
		}
footer{
	position:absolute;

	padding-top:15px;
	padding-bottom:10px;
	height:40px;
}	
#footer .title{
	font-size:40px;
	position:absolute;
	left:40px;
	bottom:10px;
}
#footer .nav{
	position:absolute;
	left:42%;
	bottom:50px;
	color:#434343;
}
.nav a{
	color:#434343;
	text-decoration:none;
}
#footer .nav ul{
	list-style:none;
	bottom:0px;
	border-top: 1px solid #d2d2d2;
}
#footer .nav li{
	display:inline;
	margin-left:5px;
	border-bottom:2px #D0D3E2 solid;
	border-right:1px solid #D0D3E2;
	border-left:1px solid #D0D3E2;
	border-top:1px solid #D0D3E2;
	padding:2px 8px;
	padding-bottom:2px;
	border-radius:4px;
	moz-border-radius:4px;
}
#footer .nav li:hover{
	border:1px solid #d2d2d2;
	cursor:pointer;
	background:rgba(56,154,177,0.3);}

#cs
{
	position:absolute;
	top:5%;
	left:33%;
	font-size:72px;
	color:#555555;
	text-shadow: 0.05em 0.05em 0.05em #999999;
	
}

#sds
{
	position:absolute;
	top:34%;
	left:36%;
	font-size:48px;
	color:#444444;
	text-shadow: 0.05em 0.05em 0.05em #999999;
	z-index:5;
	text-align:center;
}

br { clear: both; }
     

#timer{
position:absolute;
top:72%;
text-shadow: 0.05em 0.05em 0.05em #999999;}

#ttt{
opacity:0.8;
margin-top:20px;
margin-left:-20px;
margin-bottom:20px;
}
